workDir = "/carter/users/nopopko/projects/eagles/GTEx_plinkqc/work"

params {
    cohort_name = "GTEx_chr19"
    study       = "/carter/users/nopopko/projects/eagles/GTEx_plinkqc/data/by_chrom/gtex.v8.chr19"
    ref         = "/carter/users/dlaub/data/plinkqc/1kgp/hg38_common_autosomes"
    qc_dir      = "/carter/users/nopopko/projects/eagles/GTEx_plinkqc/qc_output/chr19"
}

process {
    cpus = 8
    memory = '60G'
}
