workDir = "/carter/users/nopopko/projects/eagles/GTEx_plinkqc/work"

params {
    cohort_name = "GTEx_chrX" 
    study       = "/carter/users/nopopko/projects/eagles/GTEx_plinkqc/data/by_chrom/gtex.v8.chrX.snps" 
    ref         = "/carter/users/nopopko/projects/eagles/GTEx_plinkqc/data/all_hg38.snps.onlysnps"
    qc_dir      = "/carter/users/nopopko/projects/eagles/GTEx_plinkqc/qc_output/chrX" 
}

process {
    cpus = 8
    memory = '60G'
}
