process {
    withLabel: 'EAGLES_VAR' {
        memory        = { 8.GB * task.attempt }
        maxRetries    = 4
        errorStrategy = { (task.exitStatus in [137, 143] || task.exitStatus == null) ? 'retry' : 'finish' }
        maxForks      = 75
    }
    withLabel: 'EAGLES_SMALL' {
        memory        = { 1.GB * task.attempt }
        maxRetries    = 4
        errorStrategy = { (task.exitStatus in [137, 143] || task.exitStatus == null) ? 'retry' : 'finish' }
        maxForks      = 75
    }
    withLabel: 'EAGLES_MODEL' {
        memory        = { ((8 * task.attempt) - 4).GB }
        maxRetries    = 4
        errorStrategy = 'retry'
        maxForks      = 75
    }
}
